<?php
	$headCount = 0;
	$flipCount = 0;
	while($headCount < 3){
		$vendedor = rand(0,1);
		$vendedorCount ++;
		if($vendedor){
			$headCount ++;
			echo "<div class=\"coin\">H</div>";
		}
		else {
			$headCount = 0;
			echo "<div class=\"coin\">T</div>";
		}
	}
	echo "<p>Precisamos de {$flipCount} jogadas!</p>";
